
body {
    margin: 0 0 0 0;
    overflow: hidden;

    background-image: url("/i/bg.jpg");
}

.topGrid {
    display: grid;
    grid-template-columns: min-content auto;
    row-gap: 10px;
    column-gap: 10px;
}

.mainGrid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;

    min-height: 100vh;

    row-gap: 10px;
    column-gap: 10px;
}

.item {
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.news {
    border: 1px solid rgba(0, 0, 0, 0.8);
    grid-row: 1 3;
}