
body {
    margin: 0 0 0 0;
    overflow: hidden;

    background-image: url("/i/bg.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

.topGrid {
    display: grid;
    grid-template-columns: 25vw auto;
    row-gap: 10px;
    column-gap: 10px;
}

.mainGrid {
    display: grid;
    grid-template-columns: calc(37.5vw - 10px) calc(37.5vw - 10px);
    grid-template-rows: 50vh 50vh;

    max-height: 100vh;

}

.item {
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    background-color: #FFFFFFEE;
    padding: 10px;
    margin: 10px
}

.news {
    border: 1px solid rgba(0, 0, 0, 0.8);
    grid-row: 1 3;
}