// components/NewsBlock.scss

.NewsBlock {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: none;
    //overflow-y: scroll;

    position: relative;

    display: flex;
    flex-direction: column;
    max-height: 100vh;
    min-height: 100vh;
    max-width: fit-content;

    animation-name: autoscroll;
    animation-play-state: running;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

.Loading {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: none;

    position: relative;

    display: flex;
    flex-direction: column;
    max-height: 100vh;
    min-height: 100vh;
    max-width: fit-content;
    width: 20vw;
}

@keyframes autoscroll {
    0% {
        margin-top: 0vw;
    }
    50% {
        margin-top: -100vw;
    }
    100% {
        margin-top: 0vw;
    }
}

.NewsBlock::-webkit-scrollbar {
    display: none;
}